
<div class="contador">
  <p >FALTAN:</p>
  <div class="countdown">
      <div id="days"></div>
      <div id="hours"></div>
      <div id="minutes"></div>
  </div>

  <h2 class="textcontador">Reciba señales a tiempo real para operar en los mercados.</h2>
  
</div>

