<!--Código del footer-->

<div class="contfooter">
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>

        <ul class="social-icon">
            <li><a href="https://t.me/+Mk92wEs2O2w2NWQ5"><img src="/img/icon-telegram.png"></a></li>
            <li><a href=https://www.instagram.com/waves.economy?igsh=aWoyOW94bDVpb3h0><img src="/img/icon-instagram.png"></ion-icon></a></li>
            <li><a href="https://wa.me/5491136405148"><img src="/img/icon-whatsapp.png"></a></li>
        </ul>

        <ul class="menu">
            <li><a href="#">PRINCIPAL</a></li>
            
        </ul>
        <p>©Waves economy | Todos los derechos reservados 2024.</p>
    </footer>
</div>