<div class="tablet">
    <div class="img-fondo">

        

        
        
        <div class="contText">
            <h1 class="tittle">SHARK IN THE WAVES </h1>
            <p class="text">En esta ocasión especial, se unen dos potencias, el tiburón Shark Jhon está
                surfeando en Las olas de Waves Economy para traerte un beneficio único.
                Después de varios años de estudiar el mercado y ver como ofrecen salas de señales que no ayudan
                a
                nadie las cuales hacen perder dinero y tiempo a las personas, aquí vamos a traerte
                capacitaciones,
                acompañamiento y mentorías para que comiences a operar en el mercado financiero con el mayor
                ratio
                riesgo - beneficio posible.
                ¡Aquí abajo encontrarás todos los beneficios de adquirir nuestros servicios, a los cuales
                también
                semanalmente daremos charlas informativas para quienes deseén aprender a diversificar y obtener
                mejor
                educación financiera de manera gratuita con nuestros expertos!</p>
        </div>


        <div class="video-container">
            <video autoplay muted loop controls>
                <source src="./video/VID_20240402_150706_151.mp4" type="video/mp4">
                Tu navegador no soporta el elemento de video.
            </video>
        </div>


        <!--Sección media-->
        <div class="segSeccion">
            <div class="divimg">
                <img class="imgtrading" src="./img/imagentrading.jpg">
            </div>

            <div class="divInfocontacto infocontacto">
                <h2>¡Olvidate de perder tiempo buscando oportunidades y empezá a ganar dinero!</h2>
                <ul>
                    <li class="textexplicacion">Recibí señales para operar en el mercado y constatá por tus propios medios los resultados.</li>
                    <li class="textexplicacion">Forma parte de una comunidad en constante crecimiento y avance en conjunto.</li>
                    <li class="textexplicacion">Intercambiá información y estudio con el resto de la comunidad y con nuestros profesionales.</li>
                    <li class="textexplicacion">Aprenda a gestionar una mentalidad adecuada y una estrategia ganadora que le llevará a capitalizar más ingresos a su banca.</li>
                    <li class="textexplicacion">Disponga de charlas informativas, material de estudio y demás contenido para maximizar tu ratio riesgo-beneficio a niveles nunca antes logrado.</li>
                </ul>
                <!--<img class="botontelegram" src="./img/btntelegram.png">-->
                <div class="botones">
                    <button class="shadow__btn">
                        <a class="linkestilo" href="https://t.me/+Mk92wEs2O2w2NWQ5">Click aquí canal en TELEGRAM</a>
                    </button>

                    <button class="shadow__btn">
                        <a class="linkestilo" href="https://wa.me/5491136405148">Click aquí canal en WHATSAPP</a>
                    </button>
                </div>
            </div>
        </div>


        <div class="contText">

            <h3>Mensajes de las personas que están implementando estas estrategias y ya cambiaron su presente.
            </h3>
            <p class="text">Testimonios de gente que entendió y aplicó una serie de
                estudios con un análisis mas profundo en los mercados, leyendo con
                sobriedad y determinación los movimientos de los precios, luego de haber practicado nuestra
                estrategia con dinero ficticio en cuenta demo, para
                llevarla a la práctica, y certificar por sus propios medios los resultados
                obtenidos antes de operar con dinero real, para posteriormente transformar su realidad por
                completo.
            </p>
        </div>

        <div class="contenedor">
            <figure>
                <img src="/img/testimonio1.png"
                    alt="Imagen de tiburón Jhon con mucho estilo, surfeando las olas de los mercados financieros">
                <div class="capa">
                    <h3>Formá parte de nuestro equipo</h3>
                    <p>Interactuá con nuestros profesionales y lleva tu nivel de trading a otros niveles, formá parte de esta comunidad donde crecemos todos juntos de manera constante.</p>
                </div>
            </figure>

            <figure>
                <img src="/img/testimonio2.png"
                    alt="Imagen de tiburón Jhon con mucho estilo, surfeando las olas de los mercados financieros">
                <div class="capa">
                    <h3>Formá parte de nuestro equipo</h3>
                    <p>Interactuá con nuestros profesionales y lleva tu nivel de trading a otros niveles, formá parte de esta comunidad donde crecemos todos juntos de manera constante.</p>
                </div>
            </figure>
        </div>

        <div class="contenedor">
            <figure>
                <img src="/img/testimonio3.png"
                    alt="Imagen de tiburón Jhon con mucho estilo, surfeando las olas de los mercados financieros">
                <div class="capa">
                    <h3>Formá parte de nuestro equipo</h3>
                    <p>Interactuá con nuestros profesionales y lleva tu nivel de trading a otros niveles, formá parte de esta comunidad donde crecemos todos juntos de manera constante.</p>
                </div>
            </figure>

        

        
            <figure>
                <img src="/img/testimonio4.png"
                    alt="Imagen de tiburón Jhon con mucho estilo, surfeando las olas de los mercados financieros">
                <div class="capa">
                    <h3>Formá parte de nuestro equipo</h3>
                    <p>Interactuá con nuestros profesionales y lleva tu nivel de trading a otros niveles, formá parte de esta comunidad donde crecemos todos juntos de manera constante.</p>
                </div>
            </figure>
        </div>

        <div class="contenedor">
            <figure>
                <img src="/img/testimonio5.png"
                    alt="Imagen de tiburón Jhon con mucho estilo, surfeando las olas de los mercados financieros">
                <div class="capa">
                    <h3>Formá parte de nuestro equipo</h3>
                    <p>Interactuá con nuestros profesionales y lleva tu nivel de trading a otros niveles, formá parte de esta comunidad donde crecemos todos juntos de manera constante.</p>
                </div>
            </figure>

            <figure>
                <img src="/img/testimonio8.png"
                    alt="Imagen de tiburón Jhon con mucho estilo, surfeando las olas de los mercados financieros">
                <div class="capa">
                    <h3>Formá parte de nuestro equipo</h3>
                    <p>Interactuá con nuestros profesionales y lleva tu nivel de trading a otros niveles, formá parte de esta comunidad donde crecemos todos juntos de manera constante.</p>
                </div>
            </figure>

        </div>

        <!--Código del footer-->

        <%-include("../partials/footer")%>

        <!--Este cierre de div debe contener la totalidad de la página (fondo de pantalla </div class="img-fondo">)-->
    </div>

</div>