<!-- error404.ejs -->
<html>
<head>
    <meta http-equiv="refresh" content="5;url=/">
</head>
<body>
    
    <h1>Error 404 - Página no encontrada. Redireccionando al inicio en 5 segundos...</h1>
    
</body>
</html>
